.header-showcase {
  background: url('../images/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  }

.nav{
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #333;
  opacity: 0.8;
  padding: 0px 30px;
  position: fixed;
  top: 0px;
}

.nav-h1, .nav-h1 i{
  display: flex;
}

.nav-h1 i{
  align-self: center;
  padding: 0px 10px 0px 0px;
}

.nav-h1 a{
  color: #28a745;
  align-self: center;
}

.nav-ul{
  display: flex;
  size: 100%;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-ul li a{
  color: white;
  margin: 0px 5px;
  padding: 10px 20px;
}

.nav-ul li a:hover{
  border-bottom: 2px #28a745 solid;
}

.div-header-showcase{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.div-header-showcase h1{
  text-align: center;
  font-size: 55px;
}

.div-header-showcase p{
  text-align: center;
  align-self: center;
  font-size: 23px;
  margin: 20px 0px 30px;
  max-width: 600px;
}

.div-header-showcase a{
  text-align: center;
  align-self: center;
  margin: 20px 0px 30px;
}

.div-header-showcase i{
  padding: 0px 5px 0px 0px;
}

#boxes-section{
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 30px;
}

#boxes-section i{
  padding: 16px;
  margin: 0px 0px 15px;
  background: #28a745;
  border-radius: 50px;
}

#boxes-section h3{
  font-weight: bold;
  margin: 0px 0px 15px;
  color: #333;
}

#boxes-section p{
  margin: 10px 0px;
  color: #333;
  text-align: center;
}

/* two boxes 1 */

.full-gallery{
  padding: 20px 20px 40px;
}

.section-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.section-header h2{
  margin: 20px 0px;
  font-size: 40px;
}

.section-header p{
  margin: 10px
}

.row{
  display: flex;
  width: 100%;
  height: 100%;
}

.column{
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: 50%;
  flex-direction: column;
  padding: 0px 4px;
}

.img1{
  padding: 5px 0px;
  width: 100%;
  height: 100%;
  Object-fit: cover
}

.img2{
  width: 100%;
  height: 5100%;
  Object-fit: cover
}

.staff{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.staff div{
  padding: 20px;
}

.staff img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.staff p{
  padding: 10px;
}

.insert-info{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
}

.insert-info h2{
  font-size: 40px;
}

.insert-info form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  text-align: center;
}

.insert-info form input{
  margin: 10px 0px;
  padding: 4px;
  border: none;
}

.insert-info form a{
  margin: 20px 0px 0px
}