@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }

/*Main Styling*/

  a {
    color: #333;
    text-decoration: none;
  }

  body{
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      line-height: 1.6;
  }

  h1, h2 {
      font-weight: 300;
      line-height: 1.2;
  }

.logo {
    font-size: 32px;
    font-weight: 400;
}

.flex-container {
    display:flex;
}

.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

.text-tertiary {
    color: #fff;
}

.text-quarternary {
    color: #333;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary, .bg-primary{
    background: #28a745;
    color: white;
}

.btn-secondary, .bg-secondary{
    background: #0284d0;
    color: white;
}

.btn-dark, .bg-dark{
    background: #333;
    color: white;
}

.btn-light, .bg-light{
    background: #f4f4f4;
    color: 333;
}

.header-showcase::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.header-showcase *{
    z-index: 10;
}

.boxes-div{
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.boxes{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.two-boxes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.image-box{
    width: 50%;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-box{
    padding:30px;
    width: 50%;
}

.content-box div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}

.content-box h4{
    margin: 0px 0px 10px;
    font-weight: bold;
}

.content-box h2{
    font-size: 40px;
}

.content-box p{
    margin: 20px 0px;
}

.content-box a{
    border: #fff solid 1px;
}

.text-bold{
    font-weight: bold;
}

